h1{
  text-align: center;
  color:aqua;
  background-color: blue;
  

}

h2{
  text-align: center;
  color:rgb(12, 15, 218);
  background-color: aqua;
}

p{
  text-align:center;
  background-color: yellow;
}




